// prettier-ignore
{% extends base.template.html %}
{% block title %}Dashboard{% end %}
{% block header %}
{% end %}

{% block main %}
<esphome-main basePath="{{ base_path }}" logo="{{ base_path }}{{ get_static_file_url('images/logo-text.svg') }}"
  version="{{ version }}" docsLink="{{ docs_link }}" {% if login_enabled %}logoutUrl="{{ base_path }}logout" {% end
  %}></esphome-main>
{% end %}

{% block footer %}
<script src="{{ base_path }}{{ get_static_file_url('js/esphome/index-8751f08f.js') }}" type="module"></script>
{% end %}
<!-- prettier-ignore -->
